body{
    background-color: rgba(0, 0, 0, 0.788);
    background-image: url(././static/city.JPG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
    
}
a{  display: flex;
    text-decoration:none;
    color:white;
    height: inherit;

}
#searchbar{
    display: flex;
    align-self: right;
    height: inherit;
    border-radius: 1px;
    position: relative;
    margin: auto;
    
}
#search{
    border-radius: vh;
    display: flex;
    border:1px solid #ccc;
    border-radius: 1vh;
    background: linear-gradient(45deg,#ccc,#cfc,#fcc);
}
nav #button{
    border-radius: 2vh;
    border:0px;
    background:linear-gradient(45deg,#fcf,#cfc,#ffc,#cff,#fcc);
    display: flex;
    height: inherit;
    margin: auto 2px;
}
div.container {
    border: 2px solid #000;
    width: 90%;
    border-radius: 3vh;
    background: rgba(36, 34, 27, 0.4) ;     
    margin: 10px auto;        
}

div.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin: auto;
    
}
@keyframes circle{
    
    50% {
        transform: scale(0.6) rotate(-45deg);
            background-color: greenyellow;
            right: 60%;
            opacity: 0.1;
        }
    }
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height:25vh;
    height:max-content;
    text-align: center;
    margin: auto;
    border-radius: 3vh 3vh 0vh 0vh;
    
}
header h1{
    margin-top: 0;
    display: flex;
    align-self:unset;
    margin:auto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:white;
}
div.card{
    min-height: 300px;
    max-width: 100%;
    padding: 10px;
    text-decoration-color: linear-gradient(45deg,#fcf,#cfc,#ffc,#cff,#fcc);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 2px dashed #000;
    grid-gap: 10px;
    
} 
.audiocard{
    max-width: 100%;
    background-color: slategrey;
    background-image: url("././static/bodyback.JPG");
    background-size: cover;
    box-shadow: 0px 5px 5px #000,0px 5px 10px #000;
    border-radius: 2vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}
@keyframes slide{
    50%{
        transform: scale(0.99) ;
    }
    100%{
        transform: scale(1);
    }
}
.audiocard:hover{
    transform: scale(1.025);
    box-shadow: 0px 5px 5px #000;
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
h2{
    
    background: linear-gradient(to right, #fcf,#cfc,#ffc,#cff,#fcc);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: lightsalmon;

   
}
audio{
    display: grid;
    grid-row:bottom;
    width: 100%;
    border-radius: 2vh;
    margin: auto ;
    }

footer{
   
    width: 100%;
    min-height: 25vh;
    height:max-content;
    background-color: #d89a23; 
    background-image: url("././static/sound.JPG");
    background-size: contain;
    text-align: center;
    margin: auto;
    border-radius: 0px 0px 3vh 3vh;
    
}
@media (max-width: 100%){
    header,footer,.audiocard,.card,.content,audio{
        max-height: 100%;
    }
}

