body {
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-tap-highlight-color: transparent;
}

a {
    display: flex;
    text-decoration: none;
    color: white;
    height: inherit;
}

div.container {
    border: 2px solid #000;
    width: 90%;
    border-radius: 3vh;
    background: rgba(0, 0, 0, 0.521);
    margin: 10px auto;
    background-color: #000000;
    background-image: url("../static/city.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 25vh;
    height: max-content;
    text-align: center;
    margin: auto;
    border-radius: 3vh 3vh 0vh 0vh;
    border-bottom: 2px dashed #000;
}

header h1 {
    margin-top: 0;
    display: flex;
    align-self: unset;
    margin: auto;
    background-clip: text;
}

div.card {
    min-width: 300px;
    padding: 10px;
    text-decoration-color: rgb(247, 11, 11);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* border: 2px dashed #000; */
    grid-gap: 10px;
}

@media screen and (min-device-width: 600px) {
    div.card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-device-width: 1080px) {
    div.card {
        grid-template-columns: repeat(3, 1fr);
    }
}

.audiocard {
    background-color: rgba(0, 0, 0, 0.726);
    background-image: url("../static/bodyback.webp");
    background-size: cover;
    box-shadow: 0px 5px 5px #000, 0px 5px 10px #000;
    border-radius: 2vh;
    display: grid;
    cursor: pointer;
    grid-template-rows: repeat(4, 1fr);
}

audio {
    display: grid;
    grid-row: bottom;
    width: 100%;
    height: 2em;
}

audio::-webkit-media-controls-panel {
    background-color: rgba(0, 0, 0, 0.863);
}

footer {
    width: 100%;
    min-height: 25vh;
    height: max-content;
    background-color: #000000bb;
    background-repeat: inherit;
    background-size: cover;
    text-align: center;
    margin: auto;
    border-radius: 0px 0px 3vh 3vh;
}

.buttonClass {
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 0.5rem;
    color: rgb(109, 109, 109);
    border: 1px dashed #ffffff7c;
    font-size: 40px;
    padding: 0 10px 6px 10px;
}

@media only screen and (max-device-width: 600px) {
    .buttonClass {
        font-size: 80px;
        margin-right: 20px;
    }
}

.hide {
    display: none;
    position: absolute;
    background-color: #cbceaf;
}

.buttonClass:hover + .hide{
    display: block;
    color: rgb(109, 109, 109);
}

div.playButtonCard {
    text-decoration-color: rgb(247, 11, 11);
    text-align: center;
    display: grid;
    align-items: center;
    /* grid-template-columns: repeat(3, 1fr); */
    /* border-top: 2px dashed #000; */
    grid-gap: 10px;

}

.playButtonsGrid {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: medium;
    border: none;
    display: grid;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
}

.controller {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: medium;
    border: none;
    display: grid;
    cursor: pointer;
    margin: 10px;
    justify-content: center;
}

@keyframes slide {
    25% {
        transform: scale(0.99);
    }
    50% {
        transform: scale(0.99);
    }
    75% {
        transform: scale(0.99);
    }
}

.audiocard:hover,  .controller:hover {
    transform: scale(1.025);
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}