body {
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-tap-highlight-color: transparent;
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 25vh;
    text-align: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px #000, 0px 2px 10px #000;
    border-radius: .5rem;
}

header h1 {
    margin-top: 0;
    display: flex;
    align-self: unset;
    margin: auto;
    background-clip: text;
}
section {
    box-shadow: 0px 2px 5px #000, 0px 2px 10px #000;
    border-radius: .5rem;
    margin: 10px;
    padding: 10px;
    text-align: -webkit-center;
}
footer {
    min-height: 10vh;
    margin: 10px;
    padding: 10px;
    border-radius: .5rem;
    background-color: #00000034;
}

a {
    display: flex;
    text-decoration: none;
    color: white;
    height: inherit;
}

div.container {
    border: 2px solid #000;
    width: 90%;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.521);
    margin: 10px auto;
    background-color: #000000;
    background-image: url("../static/waterfallsDark1.jpg");
    background-repeat: inherit;
    background-size: cover;
    flex-direction: column;
    background-attachment: fixed;
}

div.card {
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 2px dashed #000; */
    grid-gap: 10px;
}

@media screen and (min-device-width: 600px) {
    div.card {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-device-width: 900px) {
    div.card {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-device-width: 1200px) {
    div.card {
        grid-template-columns: repeat(5, 1fr);
    }
}

.audiocard {
    background-color: rgba(0, 0, 0, 0.726);
    background-image: url("../static/bodyback.JPG");
    background-size: cover;
    box-shadow: 0px 5px 5px #000, 0px 5px 10px #000;
    border-radius: .5rem;
    display: grid;
    cursor: pointer;
    grid-template-rows: repeat(3, 1fr);
    max-height: 200px;
}

audio {
    display: grid;
    grid-row: bottom;
    width: 100%;
    height: 2em;
}


audio::-webkit-media-controls-panel {
    background-color: rgba(0, 0, 0, 0.863);
}

.playCard {
    border-radius: .5rem;
    display: grid;
    margin: 20px;
    /* cursor: pointer;
    grid-template-rows: repeat(3, 1fr); */
    /* height: 300px;
    width: 300px; */
}

.buttonClass {
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 0.5rem;
    color: rgb(109, 109, 109);
    border: 2px solid #0000007c;
    padding: 10px;
    font-size: 50px;
}

div.playButtonCard {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);

}

.playButtonsGrid {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: medium;
    border: none;
    display: grid;
    cursor: pointer;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    border-radius: .5rem;
}

.controller {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: medium;
    border: none;
    display: grid;
    cursor: pointer;
    margin: 10px;
    justify-content: center;
}

@keyframes slide {
    25% {
        transform: scale(0.99);
    }
    50% {
        transform: scale(0.99);
    }
    75% {
        transform: scale(0.99);
    }
}

.audiocard:hover,  .controller:hover {
    transform: scale(1.025);
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}